$darkestPurple: #8789fc;
$darkerPurple: #B1B2FF;
$lighterPurple: #D2DAFF;
$lightestPurple: #EEF1FF;
$blue: #AAC4FF;

.landing {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1s ease-in-out;
}

.hidden {
    display: none;
}


.landing-center {
    height: 344px;
    width: 575px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    caret-color: transparent;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 0 80px -10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.landing-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $darkerPurple;
    margin-bottom: 5px;
}

.landing-info {
    font-size: 16px;
    line-height: 22px;
    padding: 0px 20px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.landing-overview {
    font-size: 18px;
    line-height: 22px;
    padding: 0px 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.landing-overview-note {
    font-size: 18px;
    line-height: 22px;
    padding: 0px 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.landing-btns {
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.landing-btns > div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkerPurple;
    height: 45px;
    width: 100px;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
}

.landing-btns > div:hover {
    background-color: $lighterPurple;
}

.credit {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -65px;
}