$darkestPurple: #8789fc;
$darkerPurple: #B1B2FF;
$lighterPurple: #D2DAFF;
$lightestPurple: #EEF1FF;
$blue: #AAC4FF;

.landing {
    height: 100%;
    width: 100%;
    background-color: $lighterPurple;
}