@import "./index/search-bar.scss";
@import "./index/main-nav.scss";
@import "./index/featured.scss";
@import "./index/results.scss";
@import "./index/chart.scss";

$lightbrown: #743e28;
$darkbrown: #bb8c5d;
$lightgray: #AAA7A6;
$white: white;

body {
  background: $white;
}

.container {
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
}

.container-center {
  position: relative;
  height: 100vh;
  width: 80%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto 4fr;
}

.left{
  position: absolute;
  background: url(../dist/assets/pawprint1.png);
  background-size: 100px;
  background-repeat: round;
  height: 100vh;
  width: 10%;
  top: 50px;
}

.right{
  position: absolute;
  background: url(../dist/assets/pawprint2.png);
  background-size: 100px;
  background-repeat: round;
  height: 100vh;
  width: 10%;
  top: 50px;
  right: 0px;
}

#btn:hover {
  cursor: pointer;
}


.search-results-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.right-container {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.shelter-chart-container {
  background-color: gray;
}

.favorites-container {
  background-color: beige;
}