@import "./index/search-bar.scss";
@import "./index/main-nav.scss";
@import "./index/featured.scss";
@import "./index/search-results.scss";
@import "./index/chart.scss";
@import "./index/profile.scss";

$darkerPurple: #B1B2FF;
$lighterPurple: #D2DAFF;
$lightestPurple: #EEF1FF;
$blue: #AAC4FF;

body, html {
  background: $darkerPurple;
  height: 100%;
  width: 100%;
  position: relative;
}

.container {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: white;
  transition: 1s ease-in-out;
}

.container > div {
  height: 94vh;
}

.container-center {
  position: relative;
  height: 94vh;
  width: 80%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
}

.left{
  position: absolute;
  background-size: 100px;
  background-repeat: round;
  height: 94%;
  width: 10%;
  top: 50px;
}

.right{
  position: absolute;
  background-size: 100px;
  background-repeat: round;
  height: 94%;
  width: 10%;
  top: 50px;
  right: 0px;
}

#btn:hover {
  cursor: pointer;
}

.container-bottom {
  height: calc(94vh - 116px);
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $lighterPurple;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $darkerPurple;
}