.featured-container{
    height: 100%;
    width: 100%;
    background-color: blue;
    grid-column: 1 / -1; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-left: 3.75rem;
}

