$darkerPurple: #B1B2FF;
$lighterPurple: #D2DAFF;
$lightestPurple: #EEF1FF;
$blue: #AAC4FF;

.main-nav {
    height: 50px;
    background-color: $darkerPurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.nav-item > a {
    margin-left: 0.375rem;
    margin-right: 0.375rem;
    text-decoration: none;
}

.nav-item > h1 {
    font-size: 2rem;
    position: relative;
    bottom: 5px;
    display: flex;
    align-self: flex-end;
}