.photo-gallery-container {
  display: flex;
  flex-direction: column;
  background: pink;
  height: calc(94vh - 185px);
  box-sizing: border-box;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.main-photo-container {
  background: blue;
  height: calc(94vh - 405px);
  width: 80%;
}

.sub-photo-container {
  background: gray;
  height: 200px;
  width: 80%;
  display: flex;
}