@import "./photo-gallery";
@import "./video-gallery";

.profile-display {
  height: calc(94vh - 110px);
  width: 100%;
  display: flex;
  flex-direction: column;
  background: blue;
  // display: none;
}
