@import "./photo-gallery";
@import "./video-gallery";

.profile-display {
  height: calc(94vh - 110px);
  width: 100%;
  display: flex;
  flex-direction: column;
  background: blue;
  // display: none;
}

.profile-nav {
  display: flex;
  background: red;
  height: 75px;
}

.profile-main {
  height: calc(94vh - 185px);
  background: green;
}

.profile-overview-container {
  display: flex;
  height: calc(94vh - 185px);
  background: pink;
}

.profile-left-container {
  display: flex;
  flex-direction: column;
  height: calc(94vh - 185px);
  flex-basis: 40%;
  box-sizing: border-box;
  background: lightblue;
  align-items: center;
  justify-content: center;
}

.photo-container {
  height: 500px;
  width: 400px;
  background: black;
}

.name-container {
  height: 100px;
  width: 400px;
  background: gray;
}

.profile-right-container {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  height: calc(94vh - 185px);
  background: green;
}

.top-info {
  display: flex;
  justify-content: space-between;
  background: yellow;
  box-sizing: border-box;
  padding: 0.5rem;
  height: 100px;
}

.char-info {
  height: 200px;
  background: lightcoral;
}

.bio-container {
  height: 200px;
  background: lightcyan;
}

.profile-shelter-info {
  height: calc(94vh - 685px);
  background: lightgoldenrodyellow;
}