.container-results {
  height: 100%;
  width: 100%;
  display: flex;
  // display: none;
}

.search-results-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.right-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.shelter-chart-container {
  background-color: gray;
}

.favorites-container {
  background-color: beige;
}