.container-results {
  height: 100%;
  width: 100%;
  display: flex;
  // display: none;
}

.search-results-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  justify-content: center;
  align-items: center;
}


.results-card-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 4rem 2rem;
}

.result-card {
  flex-basis: 33%;

  // position: relative;
  // border-radius: 8px;

}

// .result-card-bio-holder {
//   z-index: 1;
//   position: relative;
// }

// #curve {
//   fill: white;
//   position: relative;
//   left: 0;
//   bottom: 0;
//   width: 400px;
//   height: 450px;
// }

// .result-card:hover {
//   opacity: 0.6;
// }

// .result-card:hover .result-card-bio-holder {
//   transform: translateY(-100px)
// }

.result-card-img-holder {
  height: 330px;
  background-color: rgba(255,255,255,0.8);
  // max-height: 330px;
  display: flex;
  align-items: center;
}

.result-card-img {
  width: 100%;
  max-height: 100%;
}

.result-card-bio {
  width: 100%;
}

.right-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.shelter-chart-container {
  background-color: gray;
}

.favorites-container {
  background-color: beige;
}