.container-results {
  height: 100%;
  width: 100%;
  display: flex;
  // display: none;
}

.search-results-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  justify-content: center;
  align-items: center;
}


.results-card-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 4rem 2rem;
}

.result-card {
  flex-basis: 33%;

  // position: relative;
  // border-radius: 8px;

}

// .result-card-bio-holder {
//   z-index: 1;
//   position: relative;
// }

// #curve {
//   fill: white;
//   position: relative;
//   left: 0;
//   bottom: 0;
//   width: 400px;
//   height: 450px;
// }

// .result-card:hover {
//   opacity: 0.6;
// }

// .result-card:hover .result-card-bio-holder {
//   transform: translateY(-100px)
// }

.result-card-img-holder {
  height: 330px;
  background-color: rgba(255,255,255,0.8);
  display: flex;
  align-items: center;
}

.result-card-img {
  width: 100%;
  max-height: 100%;
}

.result-card-bio {
  width: 100%;
}

.right-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

.shelter-chart-container {
  background-color: gray;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorites-container {
  background-color: beige;
}

.video-container {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.video-container-title {
  height: fit-content;
}

.inner-video-container {
  max-height: 100%;
}

#random-video {
  width: 100%;
  height: 100%;
}

.shelter-row {
  padding-left: 2rem;
}

.shelter-logo-container {
  margin-right: 1rem;
}

.shelter-row.checked {
  background-color: lightblue;
}

.results-page-title {
  position: relative;
  padding: 0;
  margin: 0;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

  font-size: 26px; 
  font-weight: 700;  
  letter-spacing: 1px; 
  text-transform: uppercase; 
  width: fit-content; 
  text-align: center; 
  margin-top: 0.375rem; 
  white-space: nowrap; 
  padding-bottom: 13px;
}

.results-page-title:before {
  background-color: #c50000;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.results-page-title::after {
  background-color: #c50000;
  content: '';
  display: block;
  position:absolute;
  right:0; 
  bottom:0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}


// html,
// body {
//     height: 100%;
//     width: 100%;
// }

// .background {
//     position: absolute;
//     top: -40px;
//     left: -40px;
//     height: 120%;
//     width: 120%;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     -webkit-filter: blur(30px);
//     filter: blur(30px);
// }

// .card {
//     position: absolute;
//     border-radius: 8px;
//     height: 450px;
//     width: 400px;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     margin: auto;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     box-shadow: 0 0 80px -10px black;
//     overflow: hidden;
// }

// .card-blur {
//     position: absolute;
//     height: 100%;
//     width: calc(100% + 1px);
//     background-color: black;
//     opacity: 0;
//     transition: opacity 0.15s ease-in;
// }

// .card:hover .card-blur {
//     opacity: 0.6;
// }

// .footer {
//     z-index: 1;
//     position: absolute;
//     height: 80px;
//     width: 100%;
//     bottom: 0;
// }

// svg#curve {
//     position: absolute;
//     fill: white;
//     left: 0;
//     bottom: 0;
//     width: 400px;
//     height: 450px;
// }

// .connections {
//     height: 80px;
//     width: 400px;
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 100px;
//     margin: auto;
// }

// .connection {
//     height: 25px;
//     width: 25px;
//     border-radius: 100%;
//     background-color: white;
//     display: inline-block;
//     padding: 5px;
//     margin-right: 25px;
//     transform: translateY(200px);
    
//     transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
// }

// .card:hover .connection {
//     transform: translateY(0px);
// }

// .info {
// 	font-family: Inconsolata;
//     padding-left: 20px;
//     transform: translateY(250px);
    
//     transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
// }

// .card:hover .info {
//     transform: translateY(0px);
// }

// .name {
//     font-weight: bolder;
//     padding-top: 5px;
// }

// .job {
//     margin-top: 10px;
// }

// .connection.facebook {
//     height: 35px;
//     width: 35px;
//     margin-left: 20px;
//     padding: 0px;
//     border-radius: 100%;
//     overflow: hidden;
// }

// .connection.twitter {
//     transition-delay: 0.06s;
// }

// .connection.behance {
//     transition-delay: 0.12s;
// }

// .connection.facebook .icon {
//     height: 100%;
//     width: 100%;
//     background-position: center;
//     background-size: cover;
//     background-color: black;
// }

// .connection.twitter .icon {
//     height: 18px;
//     width: 18px;
//     margin-top: 4px;
//     margin-left: 4px;
//     background-position: center;
//     background-size: cover;
// }

// .connection.behance .icon {
//     height: 18px;
//     width: 18px;
//     margin-top: 3px;
//     margin-left: 4px;
//     background-position: center;
//     background-size: cover;
// }

// .connection.facebook .icon {
//   background-image: url(../../../dist/assets/Feline.png);
// }