@import "./styles/reset.css";
@import "./styles/pets-index.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');
@import "./styles/landing.scss";

body {
    font-family: 'Nunito', sans-serif;
    caret-color: transparent;
}

input {
    font-family: 'Nunito', sans-serif;
    caret-color: black;
}